@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  height: 100vh;
}

#root {
  display: flex;
  gap: 8px;
}

/* Sidebar */
.sidebar {
  background-color: #f5f6f8;
  height: 100vh;
  padding: 30px 12px;
  width: 280px;
}

.sidebar h3 {
  /* padding-bottom: 8px; */
}

.sidebar li {
  color: #666666;
  font-weight: 300;
  margin-bottom: 2px;
  cursor: pointer;
}

.sidebar i {
  margin-right: 5px;
}

.tags-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 10px;
}

.tags-header .tags-button {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #39485e;

  cursor: pointer;
}

.tags-button button {
  border-radius: 50px;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  background-color: #39485e;
  color: #eee;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.tags-button i {
  margin: 0;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Body */
.modal-body {
  padding: 20px;
}

.modal-body .input-group .input-title,
.modal-body .input-group .input-description {
  width: 100%;
  border: none;
}

.modal-body .input-group .input-title {
  font-size: 20px;
}

.modal-body .input-group input:focus {
  outline: none;
}

.modal-btns {
  display: flex;
  justify-content: end;
  gap: 10px;

  margin-top: 20px;
}

.modal-btns button {
  width: 68px;
  height: 32px;
  border: none;
  cursor: pointer;
  border-radius: 7px;
}

.modal-btns .btn-dark {
  background-color: #666666;
  color: #fff;
}

.modal-btns .btn-light {
  color: #666666;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 100px auto;
  border-radius: 10px;
  padding: 0;
  border: 1px solid #888;
  width: 550px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* Content */
.content {
  background-color: #fff;
  padding: 30px 20px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.content h1 {
  margin-bottom: 15px;
}

.content .item {
  width: 100%;
  height: auto;
  padding: 10px;
  border-bottom: 1px solid #666666;
  cursor: pointer;
}

.item-content {
  padding-left: 35px;
}

.item-content .item-tag {
  font-size: 14px;
  color: #519218;
}

.item-content .item-desc {
  font-size: 12px;
}

.item .item-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.item-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.item-label .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.item-label input:checked ~ .checkmark:after {
  display: block;
}

.checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.item-label input:checked ~ .checkmark {
  background-color: #2196f3;
}
